.gain{
	position: relative;
	padding: 55px 10px 0; 
}
.gain .gain-form{
	height: 30px;
	line-height: 30px;
	margin: 0 25px;
 	display: box;
	display: -moz-box;
	margin-bottom: 10px;
	display: -webkit-box;
	

}
.gain .gain-form input{
	box-flex:1;
	-moz-box-flex:1;
	-webkit-box-flex:1;
	border:1px solid #ee7700;
	display: block;
	height: 30px;
	padding-left: 10px;
	border-radius: 3px;
 }
 .gain .rule{
 	position: relative;
 	padding: 10px 25px 0;
 	font-size: 1.4rem;
 	line-height: 25px;

 }
 .gain .rule span{
 	color:#ee7700;
 }
.gain .submit{
 	height: 35px;
 	width: 100%;
 	background: #ee7700;
 	border-radius: 3px;
 	margin-top: 20px;

 }
 .gain .submit a.submit-btn{
 	display: block;
 	height: 100%;
 	width: 100%;
 	text-align: center;
 	line-height: 35px;
 	color: white;
 	font-size: 1.6rem;
 }