 .product{
	 position: relative;
}
.product .tabbox{
	overflow:hidden;
	margin:0 auto;
	height: 30px;
	width: 100%;
 }
.product .tab_conbox .porduct-show{

 }
.product .tab_conbox .porduct-show a{
	display:block;
	overflow: hidden;
	width: 100%;
}
.product .tab_conbox .porduct-show a img{
 	width: 100%;
 }
.product .tabbox .tabs{
	height: 30px;
	display: box;
	display: -moz-box;
	display: -webkit-box;
	margin:0 10px;

}
.product .tabbox .tabs li{
	box-flex:1;
	-moz-box-flex:1;
	-webkit-box-flex:1;
	text-align: center;
	line-height: 30px;
	color: black;
	font-size: 1.4rem;
	
}
 .product .tabbox .tabs li.thistab{
	border-bottom: 2px solid #ee7700;

}
.product .tabbox .tabs li.thistab a{
	color: #ee7700;

}
.tab_con{
 display:none;
 clear: both;
}
.tabs li a {
	display: block;
	outline: none;
	border-bottom: 2px solid #ee7700;
}
.tabs .thistab,.tabs .thistab a:hover{
	border-bottom: 2px solid #ee7700;
	color: #ee7700
}
.tab_con {
 	font-size: 1.4rem;
}
.tab_con p{
	padding:10px 10px 0;
	line-height: 20px;
	font-size: 1.4rem;
	text-indent: 2em;
	background:white;
 }



 .news{
 	position: relative;
    padding:0 10px;
 	 
 }
.news .new-list{
  	padding:5px;
 	background: #d2d2d2;
 	display: box;
 	display: -moz-box;
 	display: -webkit-box;
  	border-radius: 5px;
 	position: relative;
    margin-bottom: 10px;
  }
.news .new-list a{
	height: 65px;
	width: 75px;
	display: block;
	overflow: hidden;



}
.news .new-list a img{
	height: 65px;
	width: 75px;
 }
.news .new-text{
	-moz-box-flex:1;
	-webkit-box-flex:1;
	box-flex:1;
	margin-left: 12px;

}
.news .new-text a{
	width: auto;
	display: inline-block;
	height: auto;
	font-size: 1.2rem;
	color: black;
	padding-top: 10px;
}
.news .new-text a:hover{
	color: red;
}
.news .new-text span {
	display: block;
	font-size: 1.2rem;
	color: #7e7e7e
}