.news{
 	position: relative;
    padding:10px 10px 0;
 	 
 }
.news .new-list{
  	padding:5px;
 	background: #d2d2d2;
 	display: box;
 	display: -moz-box;
 	display: -webkit-box;
  	border-radius: 5px;
 	position: relative;
    margin-bottom: 10px;
  }
.news .new-list a{
	height: 65px;
	width: 75px;
	display: block;
	overflow: hidden;



}
.news .new-list a img{
	height: 65px;
	width: 75px;
 }
.news .new-text{
	-moz-box-flex:1;
	-webkit-box-flex:1;
	box-flex:1;
	margin-left: 12px;

}
.news .new-text a{
	width: auto;
	display: inline-block;
	height: auto;
	font-size: 1.2rem;
	color: black;
	padding-top: 10px;
}
.news .new-text a:hover{
	color: red;
}
.news .new-text span {
	display: block;
	font-size: 1.2rem;
	color: #7e7e7e
}