
input:focus:invalid, textarea:focus:invalid, select:focus:invalid{color:#555555;}
.row-fluid{ height:700px; margin: 0 auto 15px; padding-top: 10px;}
.row-fluid .container-fluid .text01{ font-size: 30px; color: #000; height:50px;line-height: 50px;margin-left: 0}
.row-fluid .container-fluid .closed{ height: 50px; background: #EEEEEE;margin-bottom: 20px; font-size: 14px;color: #FF0000;
	line-height: 50px;padding-left:20px; border-radius: 3px; margin-left:0 !important  }
.row-fluid .container-fluid .closed span.closes{ float: right;margin-right: 25px; height: 31px; width: 21px; 
	background: url(../images/icon03.png) no-repeat; margin-top: 12px}
.row-fluid .container-fluid .closed span.closes:hover{background: url(../images/icon04.png) no-repeat;}
.span3{ height: auto; margin-left:0  !important; width: auto;  float: left;margin-top:15px }
.span3 .ul1{ height: auto; width: 100%;list-style-type:none;margin:0 auto; padding: 0 }
.span3 .ul1 li{ height: 46px; width: 100%; background: #a3c756 none repeat scroll 0 0;/* border-radius: 5px;*/margin-bottom: 1px;text-align: center}
.span3 .ul1 li:hover{ background: #8bb62f none repeat scroll 0 0;}
.span3 .ul1 li a{ font-size: 18px;line-height: 46px; text-decoration: none;color: #3f3f3f;display: block; width: 100%; height: 100% }
.span3 .ul1 li a:hover{color:#fff}
.spans{ height: auto; width: auto;float:right; margin-left:40px !important;margin-top:15px;border-left: 2px solid #a3c756;}
.row-fluid .container-fluid #form03 .span8{ margin-left:0; width: 100%; margin-bottom: 15px}
.row-fluid .container-fluid #form03 .span8 label{ font-size: 16px; color:#000;line-height: 44px; margin:0 5px 15px 0; width: 100px;
 height: 44px; float: left; text-align: right;color: #2f343b}
.row-fluid .container-fluid #form03 .span8 span{ height: 44px; width:300px; float: left; font-size: 16px; line-height: 44px}
.row-fluid .container-fluid #form03 .span8 input[type="submit"]{ height: 44px;padding: 0; width:250px;border:1px solid #a3c756; float: left;
 border-radius: 5px;background: #a3c756 none repeat scroll 0 0; font-size: 16px; color: #fff; margin-left:30px ;font-weight:bold;}
.row-fluid .container-fluid #form03 .span8 input:hover[type="submit"]{ color: #fff; background: #8bb62f }
.help-block{ margin-left: 100px}
.row-fluid .container-fluid #form03 .span8 p{font-size: 14px; line-height: 30px; height: auto;padding-left:30px; }
.span12{ margin-left:0 !important }
/*重新修改样式*/
/*body{background: #bee1f5}*/
.row-fluid{min-height: 800px}
.container-fluid{padding:0; background: url(../images/repeat_bg_y.png) repeat-y; height: 100%;}
.span12{ margin-top: 20px}
.span3{ height:100%;margin-top: 0; width: 150px !important; }
.span3 .ul1 li{background: none;font-size: 14px; }
.span3 .ul1 li a{font-size: 14px;}
.span3 .ul1 li:hover{background: none; }
.span3 .ul1 li a:hover{color:#000;}
.span3 .ul1 li.now{background: #FAFAFA;}
.span8.spans{border-left:none;margin-top: 0 }
.form03{border-left:none}
/*各种响应式*/
  @media (min-width: 960px) {
.row-fluid{ width: 900px; margin: 0 auto; padding-top: 10px; width: 900px\9;margin-bottom: 20px}
.row-fluid .container-fluid .closed{ width: 100%}
}
@media (max-width: 960px) {
.container-fluid{ width: 90%; ;height:100%; margin: 0 auto}
.row-fluid .container-fluid .closed{ width: 100%}
 .row-fluid .container-fluid #form03 .span8 input{ height: 44px;padding: 0; width: 60%;border:1px solid #2ba8db; float: left;padding-left: 15px;
 border-radius: 3px}
 }
@media (max-width: 760px) {
.container-fluid{background: none; height: 100%}	
.row-fluid{font-size: 14px}	
.row-fluid .span3{ display: none}
.row-fluid .container-fluid #form03 {font-size: 14px}
.span8.spans{ width: 100%; margin-left:0 !important;}
.spans{ height: auto; width: auto;float:right; margin-left:40px !important;margin-top:15px;margin-bottom: 15px;border-left:none}
.row-fluid .container-fluid #form03 .span8 label{ width:60px;font-size: 14px}
.row-fluid .container-fluid #form03 .span8 span{ font-size: 14px}
.row-fluid .container-fluid #form03 .span8 input[type="submit"]{font-size: 14px; margin-left:0 }
.row-fluid .container-fluid #form03 .span8 p{font-size: 14px; line-height: 30px; height: auto;padding-left:0;margin-bottom: 0 }
.row-fluid .container-fluid #form03 .span8 p a{ font-size: 14px}
}
@media (max-width: 480px) {
.container-fluid{ width: 90%; ;height:auto; margin: 0 auto; font-size: 12px}
/*.container-fluid { width: 100%;height:auto;}*/
.row-fluid .container-fluid .closed{ width: 90%; font-size: 14px}
.container-fluid form .span8.spans{ width: 100%;height:auto;}
 .row-fluid .container-fluid #form03 .span8 label{ font-size: 12px; color:#000; height:44px;line-height:44px}
.row-fluid .container-fluid #form03 .span8 input{ height:44px; width: 105px;  padding:0;box-shadow: none}
.row-fluid .container-fluid #form03 .span8 span{ height: 44px; width:200px; float: left; font-size: 12px; line-height: 44px}
}







