.row-fluid{ height: 800px;  margin: 0 auto; padding-top: 10px;}
.row-fluid .container-fluid .text01{ font-size: 30px; color: #000; height:50px;line-height: 50px;margin-left: 0}
.row-fluid .container-fluid .closed{ height: 50px; background:#EEEEEE;margin-bottom: 20px; font-size: 14px;color: #FF0000;
	line-height: 50px;padding-left:20px; border-radius: 3px;}
.row-fluid .container-fluid .closed strong{ font-size: 18px}
.row-fluid .container-fluid .closed span.closes{ float: right;margin-right: 25px; height: 31px; width: 21px; 
	background: url(../images/icon03.png) no-repeat; margin-top: 12px}
.row-fluid .container-fluid .closed span.closes:hover{background: url(../images/icon04.png) no-repeat;}
.row-fluid .container-fluid form .span8{ margin-left:0;}
.row-fluid .container-fluid form .span8 label{ font-size: 16px; color:#000; height:30px;line-height: 30px; margin-bottom:15px; color: #2f343b}
.row-fluid .container-fluid form .span8 #checkbox{ height:15px; width: 15px; float: left; line-height: 15px;border:none;
	outline: none;margin-top:15px ;margin-right: 4px}
.row-fluid .container-fluid form .span8 .remember{ height:44px; width: 100px; float: left; line-height: 44px;}
.row-fluid .container-fluid form .span8 input.code{ height:44px; width: 200px; float: left; margin-right:15px;}
.row-fluid .container-fluid form .span8 .codes{ height:44px; width: 100px; float: left;}
.row-fluid .container-fluid form .span8 .codes img{ height:44px; width:100px; overflow: hidden}
.row-fluid .container-fluid form .span8 input[type="submit"]{ height:44px; width: 120px; background: #a3c756 none repeat scroll 0 0;color:#fff;
 border:none;border-radius: 5px; font-size: 20px;padding:0;}
.row-fluid .container-fluid form .span8 input[type="submit"]:hover{ background: #8ab03a none repeat scroll 0 0;color:#fff; outline: none}
 input:focus:invalid, textarea:focus:invalid, select:focus:invalid{color:#555555;}
.row-fluid .container-fluid form .span8 .help-block{clear:both;color:#a94442;} 
/*各种响应式*/
@media (min-width: 960px) {
.row-fluid{ height: 800px; width: 900px; margin: 0 auto; padding-top: 10px; width: 900px\9}
.row-fluid .container-fluid .closed{ width: 810px}
.row-fluid .container-fluid form{ }
.row-fluid .container-fluid form .span8{ height:auto; width: 900px; margin-left:0;}
.row-fluid .container-fluid form .span8 input{ height:44px; width: 88%; border:1px solid #2ba8db; padding:0;box-shadow: none;padding-left: 2%}
}
@media (max-width: 960px) {
.container-fluid{ width: 90%; ;height:auto;}
/*.container-fluid { width: 100%;height:auto;}*/
.row-fluid .container-fluid .closed{ width: 90%}
.container-fluid form .span8{ width: 100%;height:auto;}
 .row-fluid .container-fluid form .span8 label{ font-size: 16px; color:#000; height:30px;line-height: 30px}
.row-fluid .container-fluid form .span8 input{ height:44px; width: 88%; border:1px solid #2ba8db; padding:0;box-shadow: none;padding-left: 2%}
}
@media (max-width: 480px) {
.container-fluid{ width: 90%; ;height:auto; margin: 0 auto; font-size: 12px}
/*.container-fluid { width: 100%;height:auto;}*/
.row-fluid .container-fluid .closed{ width: 90%; font-size: 14px}
.container-fluid form .span8{ width: 100%;height:auto;}
 .row-fluid .container-fluid form .span8 label{ font-size: 12px; color:#000; height:30px;line-height: 30px}
.row-fluid .container-fluid form .span8 input{ height:44px; width: 88%; border:1px solid #2ba8db; padding:0;box-shadow: none;padding-left: 2%}
.row-fluid .container-fluid form .span8 input.code{ height:44px; width: 120px !important; float: left; margin-right:15px;}
.row-fluid .container-fluid form .span8 .remember{ height:44px; width: 200px; float: left; line-height:44px;}
.row-fluid .container-fluid form .span8 input[type="checkbox"]{ height:15px; width: 15px; float: left; line-height: 15px;border:none;
	outline: none;margin-top:15px ;margin-right: 4px}
}








