/*全局样式*/
@charset "UTF-8";
html,body{font-family:Helvetica,"microsoft yahei";font-size:10px;background: #eeeef0;}
body{position:relative;overflow-x:hidden;-webkit-overflow-scrolling:touch}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,button{margin:0;padding:0}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption{font-weight:normal;font-style:normal}
ul,li,dl,dt,dd{list-style:none}
fieldset,iframe,img{border:0}
table{border-collapse:collapse;border-spacing:0}
article,aside,footer,header,hgroup,nav,section,figure,figcaption,video{display:block}
a{text-decoration:none;color:#333}
input,select{outline:0;border:0}
input[type="text"]{background-position-y:-1px}
i,cite,em,var,address{font-style:normal}
a{outline:0}
a:active{outline:0}
*{-webkit-tap-highlight-color:rgba(255,0,0,0)}
b,strong{font-weight:bold}
.clearfix{clear:both;}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}
@media screen and (max-device-width:320px){body{-webkit-text-size-adjust:none}
}
@media screen and (max-device-width:480px){body{-webkit-text-size-adjust:none}
}
@media only screen and (-webkit-min-device-pixel-ratio:2){body{-webkit-text-size-adjust:none}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px){body{-webkit-text-size-adjust:none}
}
 

/*index css样式*/
/*头部开始*/
header{
	height: 41px;
	width: 100%;
	background: #f84141;
	font-size: 1.6rem;
	line-height: 41px;
	color: white;
	text-align: center;
	/*position: absolute;*/
	position: fixed;
	top:0;
	left: 0;
	z-index: 9999;
	font-weight: bold;
  }
/*头部结束*/

/*footer 开始*/
footer{
	height: 45px;
	background: #3d3d3d;
	position: fixed;
	left: 0;
	bottom: 0;
	right:0;
	z-index: 99999;
	width:100%;

}
.footer-box{
	position: relative;
	display: box;
	display: -webkit-box;
}
.footer-box .footer-flex{
	box-flex:1;
	-webkit-box-flex:1;
	display: block;
	height: 45px;
 	color: white;
	font-size: 1.6rem;
	text-align: center;
}
.footer-box .footer-flex:hover,.footer-flex:focus{
	background: url(../images/footer-bg.png) repeat-x 0 5px;
	background-size:5px 45px; 

 }
.footer-box .footer-flex.footer-now{
	background: url(../images/footer-bg.png) repeat-x;
	background-size:5px 45px; 


}
i.footer-icon{
	height: 25px;
	width: 25px;
	display: block;
	position: relative;
	overflow: hidden;
	margin:0 auto;
	 
}
i.footer-icon.icon1{
	background: url(../images/footer-icon.png) 0 5px no-repeat ;
	background-size: 25px 100px;
 }
 i.footer-icon.icon2{
	background: url(../images/footer-icon.png) 0 -15px no-repeat ;
	background-size: 25px 100px;
 }
 i.footer-icon.icon3{
	background: url(../images/footer-icon.png) 0 -36px no-repeat ;
	background-size: 25px 100px;
 }
 i.footer-icon.icon4{
	background: url(../images/footer-icon.png) 0 -57px no-repeat ;
	background-size: 25px 100px;
 }
 i.footer-icon.icon5{
	background: url(../images/footer-icon.png) 0 -78px no-repeat ;
	background-size: 25px 100px;
 }

/*footer 结束*/


 /*大图切换开始*/
.main-banner {
	padding-top: 41px;
 	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	float: left; 
	margin-bottom: 15px;
}
.main-banner a{
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
}
.swipe-box {
	float: left;
	overflow: hidden;
}
.swipe-box img {
	display: block;
}
.dotlist {
	position: absolute;
	height: 11px;
	line-height: 5px;
	-webkit-border-radius: 12px;
	bottom: 8px;z-index: 11;
	left: 44%;
}
#swipe-dot {
	text-align: center;
	margin: 2px 0 0 0;
}
#swipe-dot span {
	display: inline-block;
	margin: 0 3px;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	vertical-align: middle;
	background: #ffffff;
	-webkit-border-radius: 5px;
}
#swipe-dot .selected {
	background: #933207;
}
 /*大图切换结束*/
/*-------------------------------------index开始
----------------------------------------*/

/*index-part-one 开始*/
.index-part-one{
	position: relative;
	margin:0 9px;
	background: #fff;
	border-radius: 5px; 
  }
.child-care{
	height: 40px;
	line-height: 40px;
	color: #705d5d;
	font-size: 1.2px;
	padding-left: 30px;
}
.index-part-one .child-img{
	position: relative;
	height: auto;
	width: 100%;
	overflow: hidden;
}
.index-part-one .child-img a{
	display: block;
	position: relative;
}
.index-part-one .child-img a img{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.index-part-one .child-tab{
	height: 31px;
	display: box;
	display: -moz-box;
	display: -webkit-box;
}
.index-part-one .child-tab a.tab-flex{
	box-flex:1;
	-webkit-box-flex:1;
	text-align: center;
	line-height: 31px;
	border-left:1px solid #eaeaea;
	color: #705d5d;
}
.index-part-one .child-tab a.tab-flex:nth-child(1){
	border:none;
}

/*index-part-one 结束*/
/*index-list 开始*/
.index-list{
	position: relative;
  	margin:0 9px 55px 0;
  	padding-top: 15px;
 
}
.list-box{
	height: 76px;
	display: box;
	display: -webkit-box;
	position: relative;
	margin-bottom: 10px;
}
.list-box .list-flex{
	position: relative;
	box-flex:1;
	-webkit-box-flex:1;
	border-radius: 5px;
	background: white;
	display: block;
 }
 .list-box .list-flex img{
 	position: absolute;
 	top:5px;
 	left: 8%;
 	float: left;
 	height: 80%;
 	width: 44%;
 	z-index: 999;
 }
.list-box .list-flex.left{
	margin-right: 6px;

}
.list-box .list-flex.right{
	margin-left: 6px;

}
.list-box .list-flex .right-bg{
	position: relative;
	width: 66%;
	float: right;
	text-align: center;
	line-height: 76px;
	height: 76px;
	overflow:hidden;
	border-radius: 0 5px 5px 0;
 	color: white;
 	font-size: 1.3rem;
}
.list-box .list-flex .right-bg.blue{
	background:#47bef8;
}
.list-box .list-flex .right-bg.green{
	background:#7ca632;
}.list-box .list-flex .right-bg.yellow{
	background:#ff9537;
}.list-box .list-flex .right-bg.red{
	background:#e24a58;
}
/*index-list 结束*/
/*-------------------------------------index结束----------------------------------------*/
/*-------------------------------------personal开始---------------------------------------*/
.person-main{
	position: relative;
	margin:0 12px 50px;
  }
.person-main .person-main-cont{
 	border:1px solid #c4c5c9;
	border-radius: 10px;
	background: white;
	margin-bottom: 10px;
  }
.person-main .person-main-cont .person-cont-box{
 	width: 100%;
	position: relative;
}
 .person-main .person-main-cont .person-cont-box i.box-icon{
	height: 25px;
	width: 25px;
 	display:block;
 	position: absolute;
 	top:10px;
 	left:10px;
 }
.person-main-cont .person-cont-box a.box-title{
	display: block; 
 	line-height: 51px;
	margin:0 10px 0 51px;
	background: url(../images/toggle-left-icon.jpg) no-repeat center right;
	background-size: 25px 25px;
	font-size: 1.4rem;
 }
.person-main-cont .person-cont-box a.box-title:focus{
	color: red;
}
.person-main-cont .person-cont-box.oder,.news,.setting{
	border-bottom: 1px solid #c4c5c9;
 }
 .person-main-cont .person-cont-box.oder .box-icon{
 	background: url(../images/personal-icon.png) 0 0;
 	background-size: 25px 125px;
  }
.person-main-cont .person-cont-box.collection .box-icon{
 	background: url(../images/personal-icon.png) 0 -24px;
 	background-size: 25px 125px;
 }
.person-main-cont .person-cont-box.news .box-icon{
 	background: url(../images/personal-icon.png) 0 -48px;
 	background-size: 25px 125px;
  }
.person-main-cont .person-cont-box.setting .box-icon{
 	background: url(../images/personal-icon.png) 0 -72px;
 	background-size: 25px 125px;
 }
.person-main-cont .person-cont-box.exit .box-icon{
 	background: url(../images/personal-icon.png) 0 0;
 	background-size: 25px 125px;
  }
.toggle{
	display: none;
}  
.toggle li{
	height: 40px;
	line-height: 40px;
	padding-left: 51px;
	border-top: 1px solid #c4c5c9;
 } 
 /*-------------------------------------personal结束---------------------------------------*/
/*-------------------------------------more 开始---------------------------------------*/
.person-main-cont .person-cont-box.style,.contact,.join{
	border-bottom: 1px solid #c4c5c9;
 }
.person-main-cont .person-cont-box.style .box-icon{
 	background: url(../images/personal-icon.png) 0 -48px;
 	background-size: 25px 125px;
  }
.person-main-cont .person-cont-box.contact .box-icon{
 	background: url(../images/personal-icon.png) 0 -75px;
 	background-size: 25px 125px;
  }
  .person-main-cont .person-cont-box.join .box-icon{
 	background: url(../images/join.jpg) ;
 	background-size: 25px 25px;
  }
.person-main-cont .person-cont-box.location .box-icon{
 	background: url(../images/personal-icon.png) 0 -225px;
 	background-size: 25px 125px;
  }


/*-------------------------------------more 结束---------------------------------------*/
/*-------------------------------------information 开始---------------------------------------*/
.information{
	position:relative;
	padding-bottom: 50px;
}
/*.infor-header{
	display: box;
	display: -webkit-box;
	height: 41px;
	background: #fdccd2;
}
.infor-header a{
	box-flex:1;
	-webkit-box-flex:1;
	text-align: center;
	display: block;
	line-height: 41px;
	font-size: 1.6rem;
}*/

.infor-content{

}

 .information{
	 position: relative;
}
.information .tabbox{
	overflow:hidden;
	margin:0 auto;
	height: 40px;
	width: 100%;
	background: #fdccd2;

 }
.information .tab_conbox .porduct-show{

 }
.information .tab_conbox .porduct-show a{
	display:block;
	overflow: hidden;
	width: 100%;
}
.information .tab_conbox .porduct-show a img{
 	width: 100%;
 }
.information .tabbox .tabs{
	height: 40px;
	display: box;
	display: -moz-box;
	display: -webkit-box;
	 

}
.information .tabbox .tabs li{
	box-flex:1;
	-moz-box-flex:1;
	-webkit-box-flex:1;
	text-align: center;
	line-height: 40px;
	color: black;
	font-size: 1.6rem;
	
}
 .information .tabbox .tabs li.thistab{
 
}
.information .tabbox .tabs li.thistab a{
	color: white;

}
.tab_con{
 display:none;
 clear: both;
}
.tabs li a {
	display: block;
	outline: none;
 }
.tabs .thistab,.tabs .thistab a:hover{
 	background: #f84141;
	color: white;
}
.tab_con {
 	font-size: 1.6rem;
 	border-bottom: none;
}
.tab_con p{
	padding:10px 10px 0;
	line-height: 20px;
	font-size: 1.6rem;
	text-indent: 2em;
	background:white;
 }



 .news{
 	position: relative;
   
 	 
 }
.news .new-list{
  	padding:5px;
  	display: box;
 	display: -moz-box;
 	display: -webkit-box;
  	position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #c4c5c9;
  }
.news .new-list a{
	height: 78px;
	width: 103px;
	display: block;
	overflow: hidden;
	margin-left: 10px;
	padding-top:5px; 



}
.news .new-list a img{
	height: 78px;
	width: 103px;
 }
.news .new-text{
	-moz-box-flex:1;
	-webkit-box-flex:1;
	box-flex:1;
	margin-left: 12px;

}
.news .new-text a{
	width: auto;
	display: inline-block;
	height: auto;
	font-size: 1.6rem;
	color: black;
 
}
.news .new-text a:hover{
	color: red;
}
.news .new-text span {
	display: block;
	font-size: 10px;
	color: #7e7e7e
}



/*-------------------------------------information 结束---------------------------------------*/
