@charset "utf-8";
/* CSS Document */


				/**********************************************这是公共样式***************************************************/


a{ text-decoration:none;}
*{ margin:0; padding:0}
ul{ margin:0;}
img{border:none;}
/*******************************这里是头部**********************************************/
header{ width:100%; height:137px; background:url(../images/header_bg.jpg) no-repeat; }
header .headtop{ width:100%; height:7px; background:#2b3b44;margin:0 auto;}
header .headbg{ width:1172px; height:130px; background:url(../images/header_bg.jpg) no-repeat; margin:0 auto;}
header .headbg .underbg{ width:1172px; height:130px; margin:0 auto;}
header .headbg .underbg .logo{ float:left;}
header .headbg .underbg .tell{ float:right;}

/*******************************这里是头部结束**********************************************/


/******************************这里是导航开始************************************************************/

nav{ width:100%; height:63px; background:#2b3b44; border-bottom:3px solid #ed1b24; margin:0 auto;}
nav .underbg1{ width:1172px; height:63px; margin:0 auto;}
nav .underbg1 ul{ width:1172px; height:63px; float:left; margin-top:-4px; *margin-top:1px;}
nav .underbg1 ul a.now{ background:#ed1b24}
nav .underbg1 ul a{ width:140px; height:64px; display:block;float:left; text-align:center; line-height:63px; color:#fefefe; font-size:14px;}
nav .underbg1 ul a:hover{ background:#ed1b24;}


/******************************这里是导航结束************************************************************/






































/****************************************这里是脚部*开始********************************************************************/


footer{ width:100%; height:99px; background:#2b3b44;padding-top:25px; margin:0 auto;}
footer p{ text-align:center; color:#6a7982; font-size:12px; margin-top:15px; }



/****************************************这里是脚部结束*********************************************************************/