@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; font-family:"微软雅黑"}
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; font-variant: normal; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input:focus, textarea:focus, select:focus { outline: none; }
select, input { vertical-align: middle; }
legend { color: #000; }
.clean:before, .clean:after, .clearfix:before, .clearfix:after { content: ""; display: table; }
.clean:after, .clearfix:after { clear: both; }
.clean, .clearfix { zoom: 1; }
.clear { clear: both; }
.fl { float: left; }
.fr { float: right; }
.break { word-wrap: break-word; width: inherit; }
.linkhidden { text-indent: -9999em; overflow: hidden; }
.hidden { display: none; }
a{ text-decoration:none;}
/*reset*/

/*主要样式*/
.subNavBox{width:231px;}
.subNav currentDd { border-bottom:#dddbdb 2px solid;}
.subNav{height:60px;cursor:pointer; font-family:"宋体";font-size:14px;color:#2b3b44;line-height:60px;padding-left:44px; background:url(../images/list_bg.jpg) no-repeat; border-bottom:1px solid #ededee;}
.subNav:hover{color:#277fc2; }
.currentDd{color:#ec1b22;background:url(../images/list_now.jpg);}
.currentDt{ background:url(../images/list_now_bg.jpg); }
.navContent{display: none; width:231px;  background:#ededee;}
.navContent li{ width:231px; height:30px; padding:7px 0 ;}
.navContent li a{display:block;width:187px;heighr:30px; padding-left:44px;font-size:12px; font-family:"宋体";line-height:30px;color:#757576; }

.navContent li a:hover{background:#f0f8fc}

/*banner样式*/

.banner{ width:100%; height:394px; margin:0 auto; text-align:center; overflow:hidden;}
 

/*main样式*/
.main{width:1172px; height:537px;  margin:0 auto; margin-top:40px;}
.main .main_left{ width:279px; height:537px;  float:left;}
.main .main_left .sub_nav{ width:231px; height:60px; background:#2b3b44;}
.main .main_left .sub_nav span{ font-family:"微软雅黑"; font-family:18px; color:#FFF; margin-left:44px; line-height:60px;}
.main .main_right{ width:893px; height:537px;  float:left;}
.main_right .current{ width:871px; height:58px; background:#f3f3f3; line-height:58px; padding-left:22px; margin-bottom:20px;}
.main_right .current span{ font-family:"宋体"; font-size:14px; color:#2b3b44;}

.main_right .current a{font-family:"宋体"; font-size:14px;color:#2b3b44;}
.main_right .current .now{font-family:"宋体"; font-size:14px;color:#ec1b22;}
.main_right .current a:hover{ color:#CCC}


.main_right .news {width:893px; height:36px; font-size:12px;  line-height:36px;   }
.main_right .news a{ padding-left:44px; font-family:"宋体"; font-size:12px; color:#323232; background: url(../images/icon02.jpg) no-repeat 22px; width:849px; height:36px; display:block;}
.main_right .news p{ width:117px; height:36px; line-height:36px; float:right;font-family:"宋体"; font-size:12px;}
.main_right .news a:hover{ color:#ec1b22; background:url(../images/icon01.png) no-repeat 22px;}


.main_right .news_01 {width:893px; height:36px; font-size:12px;  line-height:36px; background:#f6f9fa;   }
.main_right .news_01 a{ padding-left:44px; font-family:"宋体"; font-size:12px; color:#323232; background:url(../images/icon02.png) no-repeat 22px; width:849px; height:36px; display:block;}
.main_right .news_01 p{ width:117px; height:36px; line-height:36px; float:right;font-family:"宋体"; font-size:12px;}
.main_right .news_01 a:hover{ color:#ec1b22; background:url(../images/icon01.png) no-repeat 22px;}
